@model IEnumerable<Slasticarna.Models.Placanje>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Korisnik)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Popust)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Narudzba)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NacinPlacanja)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Korisnik.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Popust.PopustID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Narudzba.KorisnikID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NacinPlacanja.NacinPlacanjaID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PlacanjeID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PlacanjeID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PlacanjeID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
